.button {
  font-size: 1vw;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--clr-accent-400);
  font-weight: 500;
}

@media (max-width: 1023px) {
  .button {
    font-size: 0.75rem;
  }
}

.vsplit {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.vsplit > * {
}

.section {
  min-height: 100vh;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

@media (min-width: 1024px) {
  .section {
    height: max(100vh, fit);
    padding: 4rem 3rem 2rem 3rem;
  }
}

.videocontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slidecontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
