@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
@font-face {
  font-family: 'Brown Sugar';
  src: url('../../public/fonts/BrownSugar.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #835f02;
  border-radius: 10px;
}

html,
body {
  font-family: 'Raleway';
  background-color: #173738;
  background-image: url('../../public/images/bgPattern_05.png');
  background-repeat: repeat;
  background-position: 0 -200px;
  color: #c5cdcd;
  overflow: overlay;
}

h1 {
  font-size: 5em;
  line-height: .5;
}

.avatar {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  object-fit: none;
  object-position: 42% 3%;
}

.kwhite {
  color: #c5cdcd;
}

.gold {
  color: #835f02;
}

.teal {
  color: #173738;
}

.brown-sugar {
  font-family: 'Brown Sugar';
}

.raleway {
  font-family: 'Raleway';
}

.section {
  max-width: calc(100vw - (100vw - 100%));
}
