@media (min-width: 1024px) {
  .container {
    max-height: 100vh;
  }
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .split {
    flex-direction: row;
    justify-content: center;
  }

  .split > * {
    max-height: 40vw;
    max-width: 24vw;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

/* Photo */
/*****************************/
.photo {
  padding: 2px;
  border-radius: 0.75em;
  width: auto;
  min-height: 200px;
}
.photocontainer {
  display: flex;
  justify-content: right;
}
@media (max-width: 1024px) {
  .photo {
    border-radius: 9999px;
    height: 30vh;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  .photocontainer {
    justify-content: center;
  }
}
/*****************************/

/* About Kendra*/
/*****************************/
@media (min-width: 1024px) {
  .copy {
    font-size: 1.3vw;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .copy > * + * {
    padding-top: 1em;
  }
}

.button {
  font-size: 1vw;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--clr-accent-400);
  font-weight: 500;
}

@media (max-width: 1023px) {
  .button {
    font-size: 0.75rem;
  }
}

@media (max-width: 1023px) {
  .copy {
    font-size: 1rem;
    line-height: 1.2;
    padding-top: 2rem;
  }
  .copy > * + * {
    padding-top: 1rem;
  }
  .header {
    font-size: 4rem;
  }
}
