.burgerButton {
    margin-top: 30px;
    margin-left: 35px;
    scale: 200%;
}

.closeButton {
    margin-top: 30px;
    margin-left: 25px;
    scale: 200%;
}

.content {
    width: auto;
    height: 100vh;
    background-color: #c5cdcd;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    padding: 0 10px;
}

.navlink {
    color: #173738;
    position: relative;
    margin: 0 1.25rem;
    padding: 0.75rem 0;
    font-weight: 600;
    width: fit-content;
    margin-top: 0.75rem;
    font-size: 0.75em;
}

.navlink:after {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    color: transparent;
    height: 3px;
    content: '';
    background-image: linear-gradient(90deg, #c5cdcd, #835f02, #c5cdcd);
    background-color: #c5cdcd;
}

.navlink:hover {
    color: #835f02;
    font-weight: 600;
}

.navlink:hover:after {
    width: 100%;
    transition: all 0.5s;
}

.active {
    color: #835f02;
    font-weight: 600;
}

.active:after {
    width: 100%;
}

