.section {
  max-width: calc(100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
}

.sectionContent {
}
  
@media (orientation: landscape) {
  .sectionContent {
    height: 80%;
    max-width: 80vw;
  }
}

@media (orientation: portrait) {
  .sectionContent {
    height: 80%;
  }
}