@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brown Sugar';
  src: url('../assets/BrownSugar.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/Raleway-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.brown-sugar {
  font-family: 'Brown Sugar';
  color: #835f02;
}

.raleway {
  font-family: 'Raleway';
}

body {
  font-family: 'Raleway';
  background-color: #173738;
  color: #fff;
}